<div
  class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8"
>
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Crie sua conta
      </h2>
    </div>
    <form
      class="mt-8 space-y-6"
      [formGroup]="registerForm"
      (ngSubmit)="onRegister()"
    >
      <div class="space-y-4">
        <div>
          <label for="name" class="sr-only">Nome</label>
          <input
            id="name"
            formControlName="name"
            type="text"
            autocomplete="name"
            required
            class="appearance-none relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            [class.border-red-500]="
              (name?.invalid && (name?.dirty || name?.touched)) || errors.name
            "
            placeholder="Nome"
          />
          <div
            *ngIf="name?.invalid && (name?.dirty || name?.touched)"
            class="mt-2 text-sm text-red-600"
          >
            <p *ngIf="name?.errors?.['required']">O nome é obrigatório.</p>
          </div>
          <p *ngIf="errors.name" class="mt-2 text-sm text-red-600">
            {{ errors.name[0] }}
          </p>
        </div>
        <div>
          <label for="email-address" class="sr-only">Endereço de Email</label>
          <input
            id="email-address"
            formControlName="email"
            type="email"
            autocomplete="email"
            required
            class="appearance-none relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            [class.border-red-500]="
              (email?.invalid && (email?.dirty || email?.touched)) ||
              errors.email
            "
            placeholder="Endereço de Email"
          />
          <div
            *ngIf="email?.invalid && (email?.dirty || email?.touched)"
            class="mt-2 text-sm text-red-600"
          >
            <p *ngIf="email?.errors?.['required']">O e-mail é obrigatório.</p>
            <p *ngIf="email?.errors?.['email']">
              Por favor, insira um e-mail válido.
            </p>
          </div>
          <p *ngIf="errors.email" class="mt-2 text-sm text-red-600">
            {{ errors.email[0] }}
          </p>
        </div>
        <div>
          <label for="password" class="sr-only">Senha</label>
          <div class="relative">
            <input
              id="password"
              formControlName="password"
              [type]="showPassword ? 'text' : 'password'"
              autocomplete="new-password"
              required
              class="appearance-none relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm pr-10"
              [class.border-red-500]="
                (password?.invalid && (password?.dirty || password?.touched)) ||
                errors.password
              "
              placeholder="Senha"
            />
            <button
              type="button"
              (click)="toggleShowPassword()"
              class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5 z-20"
            >
              <svg
                *ngIf="!showPassword"
                class="h-5 w-5 text-gray-500"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"
                ></path>
              </svg>
              <svg
                *ngIf="showPassword"
                class="h-5 w-5 text-gray-500"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                ></path>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                ></path>
              </svg>
            </button>
          </div>
          <div
            *ngIf="password?.invalid && (password?.dirty || password?.touched)"
            class="mt-2 text-sm text-red-600"
          >
            <p *ngIf="password?.errors?.['required']">A senha é obrigatória.</p>
            <p *ngIf="password?.errors?.['minlength']">
              A senha deve ter no mínimo 8 caracteres.
            </p>
          </div>
          <p *ngIf="errors.password" class="mt-2 text-sm text-red-600">
            {{ errors.password[0] }}
          </p>
        </div>
        <div>
          <label for="password_confirmation" class="sr-only"
            >Confirmar Senha</label
          >
          <div class="relative">
            <input
              id="password_confirmation"
              formControlName="password_confirmation"
              [type]="showPasswordConfirmation ? 'text' : 'password'"
              required
              class="appearance-none relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm pr-10"
              [class.border-red-500]="
                (password_confirmation?.invalid &&
                  (password_confirmation?.dirty ||
                    password_confirmation?.touched)) ||
                registerForm.hasError('passwordMismatch')
              "
              placeholder="Confirmar Senha"
            />
            <button
              type="button"
              (click)="toggleShowPasswordConfirmation()"
              class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5 z-20"
            >
              <svg
                *ngIf="!showPasswordConfirmation"
                class="h-5 w-5 text-gray-500"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"
                ></path>
              </svg>
              <svg
                *ngIf="showPasswordConfirmation"
                class="h-5 w-5 text-gray-500"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                ></path>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                ></path>
              </svg>
            </button>
          </div>
          <div
            *ngIf="
              password_confirmation?.invalid &&
              (password_confirmation?.dirty || password_confirmation?.touched)
            "
            class="mt-2 text-sm text-red-600"
          >
            <p *ngIf="password_confirmation?.errors?.['required']">
              A confirmação de senha é obrigatória.
            </p>
          </div>
          <p
            *ngIf="
              registerForm.hasError('passwordMismatch') &&
              password_confirmation?.touched
            "
            class="mt-2 text-sm text-red-600"
          >
            As senhas não coincidem.
          </p>
        </div>
      </div>

      <div>
        <button
          type="submit"
          [disabled]="registerForm.invalid"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:bg-indigo-400 disabled:cursor-not-allowed"
        >
          Registrar
        </button>
      </div>
      <div class="text-center text-sm">
        Já tem uma conta?
        <a
          routerLink="/autenticacao/acessar"
          class="font-medium text-indigo-600 hover:text-indigo-500"
        >
          Acesse
        </a>
      </div>
    </form>
  </div>
</div>
