/node_modules
/vendor

.env

/dbdata

*.log
*.tmp

backend/api/.env
backend/api/vendor/
backend/api/node_modules/
backend/api/storage/
backend/api/bootstrap/cache/
backend/api/.phpunit.result.cache
backend/api/public/hot
backend/api/public/build
backend/api/*.log
backend/api/*.tmp

frontend/tidyup/node_modules/
frontend/tidyup/dist/
frontend/tidyup/.angular/cache/
frontend/tidyup/.vscode/
frontend/tidyup/*.log
frontend/tidyup/tmp/
frontend/tidyup/coverage/

